.contacts {
  padding: 70px 0;
  color: var(--main-color);
  position: relative;
  z-index: 10;
  background-image: url(/img/original_598199574f1350638e11b2d2_5982c05803796.png);
}

.contacts:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-size: cover;
  z-index: -2;
  background: #2f324bd9;
}

.contacts__box {
  max-width: 601px;
  margin: 0 auto;
  text-align: center;
}

.contacts__title {
  display: inline-block;
  padding-right: 25px;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
.contacts__subtitle {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.contacts__form {
  margin-bottom: 52px;
}

.contacts__label:not(:last-child) {
  margin-bottom: 21px;
}

.contacts__input {
  width: 425px;
  height: 44px;
  padding-left: 25px;
  border-radius: 50px;
  font-size: 22px;
  line-height: 26px;
  background: RGBA(50, 75, 217, -0.85);
  filter: hue-rotate(1);
  border: 1px solid var(--main-color);
}

.contacts__btn {
  margin-top: 29px;
  padding: 13px 38px;
  font-size: 20px;
  line-height: 23px;
  background-color: #15a9cb;
  color: var(--main-color);
  border-radius: 50px;
  box-shadow: 0px 4px 25px 0px #15a9cb4d;
}

.contacts__text-bottom {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
}

.contacts__text-bottom-link {
  color: #4a76a8;
  border-bottom: 1px solid #4a76a8;
}

@media (max-width: 1024px) {
  .contacts {
    padding: 70px 0 56px;
  }

  .contacts__title {
    padding-right: 5px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 38px;
  }
  .contacts__subtitle {
    padding-left: 20px;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__form {
    margin-bottom: 0;
  }

  .contacts__label {
    margin-bottom: 20px;
  }

  .contacts__label_email {
    margin-bottom: 52px;
  }

  .contacts__input {
    padding-left: 20px;
    width: 377px;
    height: 39px;
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__btn {
    margin-bottom: 30px;
    padding: 11px 38px;
    background-color: #15a9cb;
    color: var(--main-color);
    border-radius: 50px;
  }

  .contacts__text-bottom {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 600px) {
  .contacts__title {
    font-size: 24px;
    line-height: 27px;
  }

  .contacts__input {
    width: 290px;
    height: 28px;
  }
}

@media (max-width: 320px) {
  .contacts {
    padding: 30px 0;
  }

  .contacts__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__subtitle {
    padding: 0;
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 14px;
  }

  .contacts__label {
    margin-bottom: 15px;
  }

  .contacts__input {
    width: 290px;
    height: 28px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 16px;
  }

  .contacts__label_email {
    margin-bottom: 45px;
  }

  .contacts__btn {
    width: 174px;
    height: 38px;
    padding: 10px 26px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
  }

  .contacts__text-bottom {
    font-size: 11px;
    line-height: 13px;
  }
}
